.chat {
  height: -webkit-fill-available;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.chat .openMobileMenu {
  position: absolute;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.644);
  left: 0;
  padding: 0.5rem 0.5rem 0.5rem 2rem;
  border-top-right-radius: 1.2rem;
  border-bottom-right-radius: 1.2rem;
  animation-timing-function: linear;
  z-index: 2;
}
.chat .openMobileMenu svg {
  font-size: 1.5rem;
  transition: all 200ms;
  animation-name: svgAnimated;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.firstContainer {
  background-color: white;
  width: 30%;
  padding: 1rem;
}
@media (max-width: 991px) {
  .firstContainer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 85%;
    z-index: 99;
    transition: all 300ms;
  }
}
.firstContainer .containerTitle {
  display: flex;
  align-items: center;
  margin-bottom: 0.2rem;
  font-size: 0.9rem;
}
.firstContainer .containerTitle svg {
  color: var(--default-blue);
  font-size: 1.3rem;
  margin-left: 0.3rem;
}
.firstContainer .firstTitle {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.firstContainer .firstTitle svg {
  font-size: 1.5rem;
}
.firstContainer hr {
  margin: 0.5rem 0 1rem 0;
}
.firstContainer .usersContainer {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}
.firstContainer .usersContainer::-webkit-scrollbar-track {
  background-color: #F4F4F4;
}
.firstContainer .usersContainer::-webkit-scrollbar {
  height: 6px;
  background: #F4F4F4;
}
.firstContainer .usersContainer::-webkit-scrollbar:hover {
  height: 10px;
}
.firstContainer .usersContainer::-webkit-scrollbar-thumb {
  background: #dad7d7;
}
.firstContainer .usersContainer .aUser {
  background-color: var(--background);
  border-radius: 0.75rem;
  padding: 0.5rem;
  margin-right: 0.5rem;
  width: -moz-max-content;
  width: max-content;
}
.firstContainer .usersContainer .aUser .imageContainer {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  position: relative;
  margin: auto;
  overflow: hidden;
}
.firstContainer .usersContainer .aUser .imageContainer img {
  width: 2rem;
  height: 2rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.firstContainer .usersContainer .aUser .imageContainer .isOnline {
  border-radius: 50%;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 0;
  right: 0;
  border: solid 2px white;
}
.firstContainer .usersContainer .aUser .name {
  font-size: 0.85rem;
}
.firstContainer .optionGlobalChat {
  display: flex;
  align-items: center;
  background-color: rgb(226, 235, 245);
  border-radius: 0.5rem;
  padding: 0.75rem;
  cursor: pointer;
}
.firstContainer .optionGlobalChat svg {
  font-size: 2rem;
  margin-right: 0.3rem;
  color: var(--default-blue);
}
.firstContainer .optionGlobalChat div {
  font-weight: 500;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.firstContainer .optionGlobalChat small {
  font-weight: 400;
}

.menuBg {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 98;
}

.secondContainer {
  background-color: white;
  width: 69%;
  box-shadow: inset 0px 40px 15px -40px rgba(0, 0, 0, 0.3);
  z-index: 1;
  display: flex;
  flex-direction: column-reverse;
  scroll-behavior: smooth;
  overflow-y: auto;
}
.secondContainer::-webkit-scrollbar-track {
  background-color: #F4F4F4;
}
.secondContainer::-webkit-scrollbar {
  width: 6px;
  background: #F4F4F4;
}
.secondContainer::-webkit-scrollbar-thumb {
  background: #dad7d7;
}
@media (max-width: 991px) {
  .secondContainer {
    width: 100vw;
    margin: -1rem;
  }
}
.secondContainer .newMessageContainer {
  padding: 0.5rem;
  height: 25%;
  min-height: 120px;
}
@media (max-width: 991px) {
  .secondContainer .newMessageContainer {
    min-height: 100px;
  }
}
.secondContainer .newMessageContainer .sendMessageAction {
  background-color: white;
  height: 100%;
  position: relative;
}
.secondContainer .newMessageContainer .sendMessageAction textarea {
  width: 100%;
  height: 100%;
  padding: 0.7rem;
}
.secondContainer .newMessageContainer .sendMessageAction button {
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
  background-color: var(--default-blue);
  color: white;
  border-radius: 50%;
  border: none;
  width: 2rem;
  height: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.secondContainer .newMessageContainer .sendMessageAction button svg {
  font-size: 1.2rem;
  color: white;
}
@media (max-width: 991px) {
  .secondContainer .newMessageContainer .sendMessageAction button {
    width: 2.5rem;
    height: 2.5rem;
  }
}
.secondContainer .newMessageContainer .disabled {
  opacity: 0.5;
}
.secondContainer .messages {
  padding: 1rem;
  display: flex;
  flex-direction: column-reverse;
}
.secondContainer .messages .loadMoreMessages {
  text-align: center;
  font-weight: 400;
  color: var(--gray-2);
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
.secondContainer .messages .loadMoreMessages svg {
  font-size: 1.4rem;
  margin-left: 0.3rem;
}
.secondContainer .messages .aMessage {
  margin-bottom: 1rem;
  display: flex;
  max-width: 90%;
  border-radius: 0.4rem;
  width: 100%;
  justify-content: flex-end;
}
.secondContainer .messages .aMessage .imageContainer {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  overflow: hidden;
  align-self: center;
}
.secondContainer .messages .aMessage .imageContainer img {
  width: 2rem;
  height: 2rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.secondContainer .messages .aMessage .info {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  max-width: 80%;
}
.secondContainer .messages .aMessage .info .content {
  background-color: var(--default-blue);
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: white;
  line-break: anywhere;
  position: relative;
}
.secondContainer .messages .aMessage .info .content .detail {
  width: 0;
  height: 0;
  border-left: 0.4rem solid transparent;
  border-right: 0.4rem solid transparent;
  border-bottom: 0.8rem solid var(--default-blue);
  position: absolute;
  bottom: 0;
  right: -0.2666666667rem;
}
.secondContainer .messages .aMessage .createdOn {
  opacity: 0.5;
  font-size: 0.65rem;
  align-self: flex-end;
  margin-top: 0.2rem;
}
.secondContainer .messages .isMy {
  align-self: flex-end;
}
.secondContainer .messages .isMy .imageContainer {
  margin-left: 0.5rem;
}
.secondContainer .messages .notIsMy {
  flex-direction: row-reverse;
}
.secondContainer .messages .notIsMy .info {
  align-items: flex-start;
}
.secondContainer .messages .notIsMy .info .content {
  background: #e3e3e3;
  color: black;
}
.secondContainer .messages .notIsMy .info .content .detail {
  bottom: 0;
  left: -0.2666666667rem;
  border-bottom-color: #e3e3e3;
}
.secondContainer .messages .notIsMy .info .createdOn {
  align-self: flex-start;
}
.secondContainer .messages .notIsMy .imageContainer {
  margin-right: 0.5rem;
}/*# sourceMappingURL=chat.module.css.map */