<%- include('partials/header') %>
<main class="o-main">
  <fieldset class="estilo_form">
    <span id="estilo_legenda">
      Envie uma nova localização no formulário abaixo
    </span>
    <form class="form" method="post" action="/forms">
      <label for="cidade">Cidade:</label>
      <input
        type="text"
        id="txtNome"
        name="cidade"
        placeholder="Digite seu nome.."
      />

      <label for="sigla">Sigla:</label>
      <select
        type="text"
        id="txtSigla"
        name="sigla"
        placeholder="Digite seu E-mail.."
      >
        <option value="null">Selecione um valor...</option>
        <option value="SP">SP</option>
        <option value="MG">MG</option>
        <option value="RJ">RJ</option>
        <option value="PE">PE</option>
      </select>

      <label for="bairro">Bairro</label>
      <select id="txtCidade" name="bairro">
        <option value="null">Selecione um valor...</option>
        <option value="Cotia">Cotia</option>
        <option value="Uberlândia">Uberlândia</option>
        <option value="Ipanema">Ipanema</option>
        <option value="Alto Bela Vista">Alto Bela Vista</option>
      </select>
      <input type="submit" value="Enviar" />
    </form>
  </fieldset>
</main>
<%- include('partials/footer') %>
