.title {
  margin: 3rem 0 1rem;
}

.post {
  background-color: white;
  padding: 1.5rem;
  border-radius: 0.5rem;
  margin-top: 2rem;
}
@media (max-width: 991px) {
  .post {
    padding: 1rem;
  }
}
.post .previewContainer {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.95);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
}
.post .previewContainer img {
  max-width: 90vw;
  max-height: 90vh;
}
.post .previewContainer svg {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: white;
  font-size: 2rem;
}
.post > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.post > header .profileInfo {
  width: 100%;
}
.post > header .profileInfo a {
  width: 100%;
  display: flex;
  align-items: center;
  width: -moz-max-content;
  width: max-content;
}
.post > header .profileInfo .profilePictureContainer {
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-right: 0.75rem;
}
.post > header .profileInfo .profilePictureContainer img {
  height: 2rem;
  width: 2rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.post > header .profileInfo .username {
  font-size: 1rem;
  font-weight: 400;
}
.post > header .menuDots {
  position: relative;
  cursor: pointer;
}
.post > header .menuDots .dropdown {
  position: absolute;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1;
  right: 0;
  border-radius: 0.25rem;
}
.post > header .menuDots .dropdown .option {
  padding: 0.5rem 1.5rem;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  transition: 200ms;
  border-radius: 0.25rem;
  border: solid 1px gray;
}
.post > header .menuDots .dropdown .option:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.post > header .menuDots .dropdown .option svg {
  font-size: 1.1rem;
  color: red;
  margin-right: 0.5rem;
}
.post > header .menuDots svg {
  font-size: 1.5rem;
  color: var(--gray-2);
}
.post > hr {
  margin: 1rem 0;
}
.post .postContainer .commentContent {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-left: solid 2px var(--gray-1);
  padding-left: 1rem;
  line-break: anywhere;
}
.post .postContainer .carousel {
  display: flex;
  align-items: center;
  justify-content: center;
}
.post .postContainer .carousel .imageContainer {
  height: -moz-max-content;
  height: max-content;
  width: -moz-max-content;
  width: max-content;
  position: relative;
  margin-top: 1rem;
  display: flex;
  align-items: center;
}
.post .postContainer .carousel .imageContainer img {
  max-width: 100%;
}
.post .postContainer .carousel .imageContainer .arrow {
  background-color: white;
  border-radius: 50%;
  position: absolute;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  transition: all 200ms;
  cursor: pointer;
}
.post .postContainer .carousel .imageContainer .arrow:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}
.post .postContainer .carousel .imageContainer .arrowLeft {
  left: -1rem;
}
.post .postContainer .carousel .imageContainer .arrowRight {
  right: -1rem;
}
.post .postContainer .imageCount {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 1rem 0;
}
.post .postContainer .imageCount .unSelected {
  background-color: var(--gray-1);
}
.post .postContainer .imageCount .selected {
  background-color: var(--default-blue);
}
.post .postContainer .imageCount .roundedOption {
  width: 0.5rem;
  height: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 50%;
}
.post > footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f2f7ff;
  padding: 0.75rem;
  border-radius: 0.5rem;
}
.post > footer > div:nth-child(1) {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}
.post > footer .publicationDate {
  opacity: 0.7;
  font-size: 0.85rem;
  text-align: right;
}
.post > footer .like, .post > footer .dislike {
  transition: all 400ms;
  opacity: 0.8;
  cursor: pointer;
  margin-right: 1rem;
  display: flex;
  align-items: center;
}
.post > footer .like > div, .post > footer .dislike > div {
  display: flex;
  align-items: center;
}
.post > footer .like:hover, .post > footer .dislike:hover {
  opacity: 1;
}
.post > footer .like svg, .post > footer .dislike svg {
  font-size: 1.35rem;
}
.post > footer .like svg {
  color: blue;
}
.post > footer .dislike svg {
  color: red;
}
.post > footer .disabled {
  opacity: 0.7;
  color: gray;
}
.post > footer .disabled svg {
  color: gray;
}
.post > footer .comments {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.5rem;
  cursor: pointer;
}
.post > footer .comments svg {
  font-size: 1.35rem;
  color: var(--gray-4);
  margin-right: 0.5rem;
}
.post > footer .comments:hover {
  text-decoration: underline;
}
.post .previewActions {
  padding-left: 0.5rem;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  margin-top: 0.5rem;
}
.post .previewActions .userImages {
  margin-right: 0.5rem;
  display: flex;
}
.post .previewActions .userImages .previewImage {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 2px;
  border-radius: 50%;
  margin-right: -0.6rem;
  overflow: hidden;
}
.post .previewActions .userImages .previewImage img {
  width: 1.5rem;
  height: 1.5rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.post .previewActions .usernamesPreview {
  margin-left: 0.5rem;
}
.post .previewActions .usernamesPreview span {
  font-weight: 500;
}
.post .previewActions .usernamesPreview .seeAll {
  font-weight: 400;
  color: var(--default-blue);
  margin-left: 0.3rem;
  text-decoration: underline;
  cursor: pointer;
}

.deletedPost {
  background-color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  text-align: center;
  color: red;
  opacity: 0.75;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  margin-top: 2rem;
}/*# sourceMappingURL=Post.module.css.map */