/* style.css */

.container-carousel {
    background-color: #fff;
    padding: 50px;
    border-radius: 30px;


    width: 100vw;
    margin-left: calc(-50vw + 50%);
}

.image-content img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.name {
    text-align: center;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.card {
    width: 100%;
}

.p-carousel {
    width: 100%;
}

.p-carousel-item {
    display: flex;
    justify-content: center;
}