.postContainer {
  background-color: white;
  padding: 1.5rem;
  line-break: anywhere;
  border-radius: 0.5rem;
}
.postContainer > h2 {
  font-size: 1.2rem;
}
.postContainer hr {
  margin: 1rem 0 1.5rem 0;
}
.postContainer input {
  background-color: var(--background);
  border: none;
  padding: 0.75rem 1.5rem;
  width: 100%;
  border-radius: 0.25rem;
  transition: all 0.5s;
}
.postContainer textarea {
  background-color: var(--background);
  border: none;
  padding: 0.75rem 1rem;
  width: 100%;
  border-radius: 0.25rem;
  transition: all 0.5s;
  min-height: 8rem;
  font-size: 1rem;
  resize: none;
}
.postContainer textarea:focus {
  outline: none;
  border: solid 1px var(--gray-2);
}
.postContainer .allIcons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: center;
  margin-top: 2rem;
}
.postContainer .allIcons > div {
  display: flex;
}
.postContainer .allIcons button {
  border: none;
  background-color: var(--default-blue);
  color: white;
  padding: 0.5rem 2rem;
  border-radius: 0.1rem;
}
.postContainer .iconContainer {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: var(--background);
  cursor: pointer;
  transition: all 200ms;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}
.postContainer .iconContainer svg {
  width: 1.7rem;
  height: 1.7rem;
  color: var(--default-blue);
}
.postContainer .iconContainer:hover {
  filter: brightness(0.9);
}
.postContainer #newImage input {
  display: none;
}
.postContainer .previewFiles {
  display: flex;
  flex-wrap: wrap;
}
.postContainer .previewFiles .SelectedImageContainer {
  border-radius: 0.5rem;
  margin: 0 0.4rem 0.4rem 0;
  padding: 0.3rem;
  width: 8rem;
  height: 8rem;
  background-color: white;
  position: relative;
  cursor: pointer;
  border: solid 1px rgb(182, 182, 182);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
@media (max-width: 991px) {
  .postContainer .previewFiles .SelectedImageContainer {
    width: 6rem;
    height: 6rem;
  }
}
.postContainer .previewFiles .SelectedImageContainer .setPreviewBg {
  position: absolute;
  width: 100%;
  height: 100%;
}
.postContainer .previewFiles .SelectedImageContainer:hover svg {
  font-size: 1.5rem;
}
.postContainer .previewFiles .SelectedImageContainer > svg {
  position: absolute;
  top: 2px;
  right: 2px;
  color: var(--offline);
  font-size: 1.2rem;
  background: white;
  border-radius: 50%;
  transition: all 200ms;
  z-index: 1;
}
.postContainer .previewFiles .SelectedImageContainer img {
  border-radius: 0.3rem;
  max-width: 100%;
  max-height: 100%;
}
.postContainer .previewContainer {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.postContainer .previewContainer .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
}
.postContainer .previewContainer .content {
  z-index: 99;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background: white;
  border-radius: 0.5rem;
  position: relative;
  padding: 1rem;
  width: 95vw;
  height: 95vh;
}
.postContainer .previewContainer .content .imageContainer {
  border-radius: 0.5rem;
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.postContainer .previewContainer .content .imageContainer img {
  max-width: 100%;
  max-height: 100%;
}
.postContainer .previewContainer .content .options {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0.5rem;
  margin-top: 1rem;
  background-color: var(--background);
  border-radius: 0.5rem;
}
.postContainer .previewContainer .content .options .aOption {
  width: 5rem;
  height: 5rem;
  border: solid 1px var(--gray-4);
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 150ms;
}
.postContainer .previewContainer .content .options .aOption img {
  max-width: 100%;
  max-height: 100%;
}
.postContainer .previewContainer .content .closeIconContainer {
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 2rem;
  cursor: pointer;
}/*# sourceMappingURL=NewPost.module.css.map */