<%- include('partials/header') %>
<main class="o-main">
  <fieldset class="estilo_form">
    <legend id="estilo_legenda">
      Envie uma mensagem preenchendo o formulário abaixo
    </legend>
    <form method="get">
      <label for="nome">Nome Completo</label>
      <input
        type="text"
        id="txtNome"
        name="nome"
        placeholder="Digite seu nome.."
      />

      <label for="email">E-mail</label>
      <input
        type="text"
        id="txtEmail"
        name="email"
        placeholder="Digite seu E-mail.."
        required
      />

      <label for="cidade">Cidade</label>
      <select id="txtCidade" name="cidade">
        <option value="são_paulo">São Paulo</option>
        <option value="cotia">Cotia</option>
        <option value="vargem_grande">Vargem Grande</option>
      </select>
      <input type="submit" value="Enviar" />
    </form>
  </fieldset>
</main>
<%- include('partials/footer') %>
