<%- include('partials/header') %>
<div class="error-container">
  <h2>Local ja cadastrado</h2>
  <p class="error-message">[Erro]</p>
  <a href="/forms"><button class="back">Voltar ao formulário</button></a>
</div>
<%- include('partials/footer') %>
