<%- include('partials/header') %>
<main class="o-main">
  <figure>
    <a target="_blank" href="img/logo2.png">
      <img
        src="img/logo2.png"
        alt="logo"
        width="300px"
        height="300px"
        class="imagem"
        style="margin: auto; display: block"
      />
    </a>
    <figcaption style="text-align: center">Logo da empresa</figcaption>
  </figure>
</main>
<%- include('partials/footer') %>
