.profileContainer {
  width: 70vw;
}
@media (max-width: 901px) {
  .profileContainer {
    width: 100%;
  }
}
.profileContainer .userHeader {
  background: white;
  margin: -1rem;
}
.profileContainer .userHeader .cover {
  background-color: rgb(0, 94, 170);
  min-height: 150px;
  position: relative;
}
.profileContainer .userHeader .cover .username {
  z-index: 9;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  background: rgba(255, 255, 255, 0.6352941176);
  padding: 0.5rem;
  border-radius: 0.5rem;
}
@media (max-width: 991px) {
  .profileContainer .userHeader .cover .username {
    padding: 0.3rem;
  }
}
.profileContainer .userHeader .cover .editIconContainer {
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  width: 2rem;
  height: 2rem;
  opacity: 0.75;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
}
.profileContainer .userHeader .cover .editIconContainer svg {
  font-size: 1.5rem;
}
.profileContainer .userHeader .cover .editIconContainer:hover {
  opacity: 1;
}
.profileContainer .userHeader .profileInfo {
  padding-bottom: 2rem;
  padding: 0 1rem 1rem 1rem;
  display: flex;
  justify-content: space-between;
}
.profileContainer .userHeader .profileInfo .firstContainer .containInfo {
  display: flex;
  align-items: center;
}
.profileContainer .userHeader .profileInfo .firstContainer .containInfo .userPicture {
  width: -moz-max-content;
  width: max-content;
  margin-right: 1rem;
  height: 3.5rem;
}
.profileContainer .userHeader .profileInfo .firstContainer .containInfo .userPicture .profileImageContainer {
  border: solid 5px white;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -3.5rem;
}
.profileContainer .userHeader .profileInfo .firstContainer .containInfo .userPicture .profileImageContainer img {
  width: 6rem;
  height: 6rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.profileContainer .userHeader .profileInfo .firstContainer .action {
  display: flex;
  align-items: center;
}
.profileContainer .userHeader .profileInfo .firstContainer .action svg {
  font-size: 1.2rem;
  color: var(--default-blue);
  margin: 0 0.3rem 0 0;
}
.profileContainer .userHeader .profileInfo .firstContainer .action strong {
  margin: 0 0.3rem 0 0;
}
.profileContainer .userHeader .profileInfo .firstContainer .action span {
  color: gray;
}
.profileContainer .userHeader .profileInfo .firstContainer .columnOption {
  margin: 0.5rem 0 0 0;
}
.profileContainer .userHeader .profileInfo .firstContainer .userCreatedOn {
  color: gray;
}
.profileContainer .userHeader .profileInfo .secondContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.profileContainer .userHeader .profileInfo .secondContainer .actionBtn {
  color: white;
  border: none;
  font-size: 1rem;
  display: flex;
  align-items: center;
  padding: 0.5rem 1.5rem;
  border-radius: 0.25rem;
}
.profileContainer .userHeader .profileInfo .secondContainer .actionBtn svg {
  margin-left: 0.2rem;
}
@media (max-width: 991px) {
  .profileContainer .userHeader .profileInfo .secondContainer .actionBtn {
    display: flex;
  }
}
.profileContainer .userHeader .profileInfo .secondContainer .followBtn {
  background-color: var(--default-blue);
}
.profileContainer .userHeader .profileInfo .secondContainer .unFollowBtn {
  background-color: rgb(224, 224, 224);
  border: solid 1px var(--gray-2);
  color: black;
}
.profileContainer > section {
  padding-bottom: 4rem;
}
.profileContainer > section h2 {
  margin-top: 4rem;
}
.profileContainer > section > hr {
  margin: 0.5rem 0 0 0;
}
.profileContainer > section .loadingIcon {
  font-size: 2rem;
  margin-top: 1rem;
}
.profileContainer > section .notHavePosts {
  margin: 2rem 0 3rem 0;
  font-size: 1.5rem;
  border-left: solid 2px var(--gray-4);
  padding-left: 1rem;
  background-color: rgba(255, 255, 255, 0.596);
  padding: 1rem;
  border-radius: 0.5rem;
}/*# sourceMappingURL=profile.module.css.map */